.section:has(div .menu:hover) > .bgPattern {
  background-size: 4.5vmin 4.5vmin;
}

.section[data-active-index="0"] > .bgPattern {
  background-position: 0% -15%;
}

.section[data-active-index="1"] > .bgPattern {
  background-position: 0% -30%;
}

.section[data-active-index="2"] > .bgPattern {
  background-position: 0% -45%;
}

.section:has(div .menu:hover) > .bgImage {
  background-size: 130% 130%;
  opacity: 0.9;
}

.section[data-active-index="0"] > .bgImage {
  background-position: center 40%;
}

.section[data-active-index="1"] > .bgImage {
  background-position: center 50%;
}

.section[data-active-index="2"] > .bgImage {
  background-position: center 60%;
}

@media (min-width: 640px) {
  @media (hover: hover) {
    body:hover .trailer {
      opacity: 1;
    }

    body:has(.descriptionLink:hover) .trailer {
      width: 87px;
      height: 29px;
    }

    :global(body:has(#aboutMeButton:hover)) .trailer {
      width: 115px;
      height: 44px;
    }

    :global(body:has(#projectsButton:hover)) .trailer {
      width: 98px;
      height: 44px;
    }

    :global(body:has(#contactButton:hover)) .trailer {
      width: 95px;
      height: 44px;
    }

    body:has(a:hover) .trailer {
      width: 0;
      height: 0;
      border: none;
      opacity: 0;
    }

    body:has(.heroImage:hover) .trailer {
      width: 0;
      height: 0;
      border: none;
      opacity: 1;
      mix-blend-mode: normal;
    }

    body:has(.heroImage:hover) .trailer::after {
      color: white;
    }

    .trailer[data-tech] {
      width: 0;
      height: 0;
      border: none;
      opacity: 1;
      mix-blend-mode: normal;
    }

    .trailer[data-tech]::after {
      content: attr(data-tech);
      position: absolute;
      top: auto;
      
      bottom: 100%;
      margin-bottom: 15px;
      left: 50%;
      
      background-color: white;
      color: black;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 6px 14px;
      border-radius: 20px;
      width: max-content;
      height: auto;
      
      opacity: 0;
      transform: translate(-50%, 10px) scale(0.8);
      transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    body:has(.techIcon:hover) .trailer[data-tech]::after {
      opacity: 1;
      transform: translate(-50%, 0px) scale(1);
    }
  }
}