@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-dots {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 9%,
      transparent 9%
    );
  }
  .animate-fadein {
    animation: fadeIn 0.3s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-slideleft {
    animation: slideLeft 0.3s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-slideleft-bg {
    animation: slideLeftBg 1s ease-out;
    animation-fill-mode: backwards;
  }
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}

* {
  color: #fdfdfd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020202;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeftBg {
  from {
    opacity: 0;
    background-size: 2vmin 2vmin;
  }
  to {
    opacity: 0.8;
    background-size: 4vmin 4vmin;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
