@import "tailwindcss";

:root {
  color-scheme: dark;
}

@layer components {
  .bg-dots {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 9%,
      transparent 9%
    );
  }
  .animate-fadein {
    animation: fadeIn 0.3s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-slideleft {
    animation: slideLeft 0.3s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-sliderightdown {
    animation: slideRightDown 0.3s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-slideleft-bg {
    animation: slideLeftBg 1s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-slideleft-bg-mobile {
    animation: slideLeftBgMobile 1s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-slideleft-bg-img {
    animation: slideLeftBgImg 1s ease-out;
    animation-fill-mode: backwards;
  }
  .animate-slideleft-bg-img-mobile {
    animation: slideLeftBgImgMobile 1s ease-out;
    animation-fill-mode: backwards;
  }
}

* {
  color: #fdfdfd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020202;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeftBg {
  from {
    opacity: 0;
    background-size: 2vmin 2vmin;
  }
  to {
    opacity: 0.6;
    background-size: 4vmin 4vmin;
  }
}

@keyframes slideLeftBgMobile {
  from {
    opacity: 0;
    background-size: 4vmin 4vmin;
  }
  to {
    opacity: 0.6;
    background-size: 6vmin 6vmin;
  }
}

@keyframes slideLeftBgImg {
  from {
    opacity: 0;
    background-size: 100% 100%;
  }
  to {
    opacity: 1;
    background-size: 120% 120%;
  }
}

@keyframes slideLeftBgImgMobile {
  from {
    opacity: 0;
    background-size: 100% 100%;
  }
  to {
    opacity: 1;
    background-size: 120% 120%;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightDown {
  from {
    opacity: 0;
    transform: translate(12px, 12px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
