.menuElement {
  position: relative;
  transition: all 0.3s ease-out;
}

.menuElement:hover {
  transform: translateX(30px);
}

.menuElement::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
}

.menuElement:hover::after {
  width: 100%;
}

.bgPattern {
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 4vmin 4vmin;
  height: 100vh;
  left: 0px;
  opacity: 0.5;
  width: 100%;
  z-index: -2;
  transition: all 0.6s ease-out;
}

.menu:hover .menuElement {
  opacity: 0.4;
}

.menu:hover .menuElement:hover {
  opacity: 1;
}

.image {
  background-size: 130%;
  transition: all 0.3s ease-out;
}

.image:hover {
  background-size: 150%;
}

.section:has(> div > .menu:hover) > .bgPattern {
  background-size: 5vmin 5vmin;
  opacity: 0.3;
}

.section:has(> div > .menu:hover) > .bgImage {
  background-size: 150%;
  opacity: 0.5;
}

.bgImage {
  background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-position: center 50%;
  background-size: 150%;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  transition: all 800ms ease-out;
  width: 100%;
  z-index: -3;
}

.section[data-active-index="0"] > .bgPattern {
  background-position: 0% -15%;
}

.section[data-active-index="1"] > .bgPattern {
  background-position: 0% -30%;
}

.section[data-active-index="2"] > .bgPattern {
  background-position: 0% -45%;
}

.section[data-active-index="0"] > .bgImage {
  background-position: center 35%;
}

.section[data-active-index="1"] > .bgImage {
  background-position: center 50%;
}

.section[data-active-index="2"] > .bgImage {
  background-position: center 65%;
}
