.menuElement {
  position: relative;
  transition: all 0.3s ease-out;
}

.menuElement:hover {
  transform: translateX(30px) !important;
}

.menuElement::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
}

.menuElement:hover::after {
  width: 100%;
}

.bgPattern {
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 9%,
    transparent 9%
  );
  background-position: 0% -35%;
  background-size: 4vmin 4vmin;
  height: 100vh;
  left: 0px;
  opacity: 0.7;
  width: 100%;
  z-index: -2;
  transition: all 0.6s ease-out;
}

.menu:hover .menuElement {
  opacity: 0.4;
}

.menu:hover .menuElement:hover {
  opacity: 1;
}

.section:has(> div > .menu:hover) > .bgPattern {
  background-size: 5vmin 5vmin !important;
}

.section[data-active-index="0"] > .bgPattern {
  background-position: 0% -15%;
}

.section[data-active-index="1"] > .bgPattern {
  background-position: 0% -30%;
}

.section[data-active-index="2"] > .bgPattern {
  background-position: 0% -45%;
}
