.section:has(> div > .menu:hover) > .bgPattern {
  background-size: 4.5vmin 4.5vmin;
}

.section[data-active-index="0"] > .bgPattern {
  background-position: 0% -15%;
}

.section[data-active-index="1"] > .bgPattern {
  background-position: 0% -25%;
}

.section[data-active-index="2"] > .bgPattern {
  background-position: 0% -35%;
}
